box.logout-background {
    background-color: $bg;
    .logout-menu {
        @include window;
            background-color: transparentize($background, 0.3);
            margin-top: 30rem;
        button {
            @include window-box;
            @include button;
            margin: 1rem;
            label{
                font-family: 'Material Symbols Outlined';
                font-size: 15rem;
                margin: 0rem 1rem;
            }
        }
    }
}
