@use "../layouts" as *;
@use "../abstracts" as *;
@use "sass:color";

box.logout-background {
  background-color: $bg;
  .logout-menu {
    @include window;
    background-color: color.adjust($background, $alpha: -0.3);
    button {
      @include window-box;
      @include button;
      margin: 1rem;
      label {
        font-family: "Material Symbols Outlined";
        font-size: 15rem;
        margin: 0rem 1rem;
      }
    }
  }
}
