@use "../layouts" as *;
@use "../abstracts" as *;
@use "sass:color";

/* general */
.system-menu {
  -gtk-icon-size: $font;
  @include window;
  margin-top: 0.7rem;
  margin-right: 0.7rem;

  & > box {
    @include window-box;
  }
}

/* toggles */
.system-menu .toggle {
  min-width: 20rem;
  &:not(:last-child) {
    margin-bottom: 0.3rem;
  }

  button {
    margin-right: 0.5rem;
  }
}

/* power profiles */
.system-menu .power-profiles {
  padding: 0;

  .current-profile {
    padding: 0.3rem;
  }

  image,
  label {
    margin: 0.3rem;
  }

  .profile-options {
    box {
      padding: 0.3rem;
    }
  }
}

/* sliders */
.system-menu .sliders {
  min-height: 0.5rem;
  image {
    margin: 0.3rem;
  }
  trough {
    margin: 0.5rem 0.5rem;
  }
  block {
    min-height: 0.5rem;
    filled {
      border-radius: 1.5rem;
      background-color: $fg;
    }
  }
}

.wifi-menu {
}
.network-list {
  @include window;
  margin: 0.3rem;
}

.network-item {
  @include button;
  @include rounding;
  margin: 0.1rem 0.3rem;
  margin-left: 0.8rem;
  margin-bottom: 0.5rem;
  padding: 0.7rem;
}

.password-dialog {
  @include window-box;
  margin-bottom: 12px;
}

.error-message {
  color: $red;
  margin: 4px 0;
}

.section-label {
  font-weight: bold;
  margin: 8px 0 4px 0;
}

.refresh-button,
.disconnect-button,
.settings-button {
  @include button;
  margin: 0.3rem;
}

.disconnect-button {
  padding: 0.55rem 0;
}

.connect-button,
.cancel-button {
  @include button-active;
  margin: 0.2rem 0.5rem;
  margin-top: 0.4rem;
}
image {
  margin: 0.4rem;
}
.password-search {
  @include window-box;
  background: $bg;

  entry {
    menu {
      @include menu;
    }
  }
}

.empty-label {
  margin: 0.5rem;
  color: $red;
}
.saved-network {
  @include window-box;
  @if $darkmode {
  } @else {
    background: color.adjust($buttonDisabled, $alpha: +0.5);
  }
  margin-right: 0.8rem;
  margin-left: 0.8rem;
  padding: 0.2rem;
  margin-bottom: 0.5rem;

  .forget-button {
    @include button-active;
    margin: 0.5rem;
  }
}
