@use "../layouts" as *;
@use "../abstracts" as *;

/* general */
.system-menu {
  -gtk-icon-size: $font;
  @include window;
  margin-top: 0.7rem;
  margin-right: 0.7rem;

  & > box {
    @include window-box;
  }
}

/* toggles */
.system-menu .toggle {
  min-width: 20rem;
  &:not(:last-child) {
    margin-bottom: 0.3rem;
  }

  button {
    margin-right: 0.5rem;
  }
}

/* power profiles */
.system-menu .power-profiles {
  padding: 0;

  .current-profile {
    padding: 0.3rem;
  }

  image,
  label {
    margin: 0.3rem;
  }

  .profile-options {
    box {
      padding: 0.3rem;
    }
  }
}

/* sliders */
.system-menu .sliders {
  min-height: 0.5rem;
  image {
    margin: 0.3rem;
  }
  trough {
    margin: 0.5rem 0.5rem;
  }
  block {
    min-height: 0.5rem;
    filled {
      border-radius: 1.5rem;
      background-color: $fg;
    }
  }
}
