@use "sass:color";
@use "material-colors_end4" as *;

$red: #d17678;
$accent_green: #afbea2;

$primaryMon: $primaryContainer;
$secondaryMon: $tertiaryContainer;
$thirdMon: $tertiary;
$fourthMon: $success;

$os: $onSurfaceVariant;

$primaryMon: color.mix(
  $primaryContainer,
  $onPrimaryContainer,
  70%,
  $method: rgb
);
$primaryMonHover: color.mix(
  $primaryContainer,
  $onPrimaryContainer,
  45%,
  $method: rgb
);
$secondaryMon: color.mix(
  $tertiaryContainer,
  $onTertiaryContainer,
  50%,
  $method: rgb
);
$secondaryMonHover: color.mix(
  $tertiaryContainer,
  $onTertiaryContainer,
  30%,
  $method: rgb
);
$tertiaryMon: color.mix(
  $secondaryContainer,
  $onSecondaryContainer,
  70%,
  $method: rgb
);
$tertiaryMonHover: color.mix(
  $secondaryContainer,
  $onSecondaryContainer,
  45%,
  $method: rgb
);
$fourthMon: color.mix($secondary, $onSecondary, 70%, $method: rgb);
$fourthMonHover: color.mix($secondary, $onSecondary, 45%, $method: rgb);

$tooltipBg: $background;
$fg: $onBackground;
$bg: color.adjust($background, $alpha: -0.5);
$barBg: color.adjust($background, $alpha: -0.5);

$surface: color.adjust($surfaceBright, $alpha: -0.6);
$overlay: color.adjust($onSurface, $alpha: -0.25);

$accent: $tertiaryContainer;

$buttonEnabled: $accent;
$buttonEnabledHover: color.adjust($buttonEnabled, $lightness: -15%);

$buttonDisabled: $surface;
$buttonDisabledHover: color.adjust($buttonDisabled, $alpha: +0.8);

$ramProc: $onPrimaryFixedVariant;
$cpuProc: $onTertiaryFixedVariant;
$procBg: $surfaceDim;

$ramProc: color.mix($primaryFixedDim, $onPrimaryFixedVariant, 66%);
$cpuProc: color.mix($tertiaryFixedDim, $onTertiaryFixedVariant, 66%);
$procBg: $surfaceDim;

/* numeric variables */
$round: 8px;
$round2: 16px;
$spacing-xs: 0.25rem;
$spacing-sm: 0.4rem;
$spacing-md: 0.75rem;
$border-width: 2px;
$scale: 0.5rem;
$font: 1.1rem;
